.footer {
   padding: 10px 0;
   position: fixed;
   background: #625e5f46;
   width: 100%;
   height: auto;
   bottom: 0;
   z-index: 10;
   @media screen and (max-width: 576px) {
      background: transparent;
   }

   &__body {
      display: flex;
      justify-content: center;
      p {
         @include adaptive-font(18, 14);
         margin-bottom: 0;
         font-weight: 100;
         span {
            text-transform: uppercase;
         }
      }
   }
}
