.header {
  background: transparent;
  justify-content: center;
  display: flex;

  &__body {
    max-width: 1140px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
    margin: 0 auto;

    @media screen and (max-width: 576px) {
      padding: 15px;
    }
  }

  &__logo {
    img {
      @media screen and (max-width: 576px) {
        max-width: 100px;
        width: 100%;
        height: auto;
      }
    }
  }

  &__btn {
    a {
      @include adaptive-font(25, 20);
      color: #fff;
      font-style: none;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 110%;
        height: 2px;
        bottom: -35%;
        right: -4px;
        background: #fcfcfc;
        pointer-events: none;
      }
    }
  }
}
