.popup {
   height: 100vh;
   padding-top: 100px;
   .popup__body {
      max-width: 542px;
      width: 100%;
      max-height: 505px;
      height: 100%;
      padding: 60px 0;
      border-radius: 25px;
      background-color: #2c2233;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      position: relative;
      .popup__slaid {
         max-width: 415px;
         width: 100%;
         max-height: 315px;
         height: 100%;
         margin: 0 auto;
         .popup__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .popup__arrow {
               border: solid #8c8c8c;
               border-width: 0 1px 1px 0;
               display: inline-block;
               padding: 7px;
               margin: 0 5px;
            }
            .right {
               transform: rotate(-45deg);
               -webkit-transform: rotate(-45deg);
            }
            .left {
               transform: rotate(135deg);
               -webkit-transform: rotate(135deg);
            }
            .popup__text {
               color: #ffffff;
               font-size: 24px;
               margin-bottom: 0;
            }
         }
         .reg-form {
            .reg-form__input {
               max-height: 50px;
               height: 100%;
               max-width: 410px;
               width: 100%;
               border-radius: 22px;
               color: #fff;
               background: #423948;
               border: 1px solid #423948;
               padding: 15px;
               margin-top: 10px;
               &:focus {
                  outline: none;
               }
               &::placeholder {
                  color: #999;
                  font-family: "Source Sans Pro";
                  font-size: 18px;
                  line-height: 36px;
               }
            }
            .option {
               display: block;
               margin-top: 20px;
            }
            .reg-form__label {
               font-size: 18px;
               color: #ffffff;
               font-family: "Source Sans Pro";
               font-weight: 300;
               user-select: none;
               .reg-form__check {
                  appearance: none;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  position: absolute;
               }
               .reg-form__box {
                  position: absolute;
                  width: 15px;
                  height: 15px;
                  border: 1px solid #fff;
                  border-radius: 5px;
                  margin-top: 2px;
               }
               .reg-form__space {
                  margin-left: 25px;
               }
               .reg-form__check:checked + .reg-form__box {
                  background: #fff;
               }
            }
            .button {
               @include btn;
            }
            .recede {
               margin: 35px auto;
            }
         }
      }
      .popup__footer {
         color: #ffffff;
         font-size: 18px;
         margin: 0 auto;
         padding-top: 40px;
         p {
            margin-bottom: 0;
         }
         span {
            color: #ff2b5d;
         }
      }
      .one {
         position: absolute;
         right: -4%;
         top: 25%;
      }
      .two {
         position: absolute;
         right: -1%;
         top: 33%;
      }
      .three {
         position: absolute;
         right: -5%;
         top: 41%;
      }
      .four {
         position: absolute;
         right: -0%;
         top: 48%;
      }
      .five {
         position: absolute;
         right: -5%;
         top: 62%;
      }
   }
}
