.start {
   background: url(/img/bg1.png) no-repeat center/cover;
   width: 100%;
   height: 100vh;
   .start__body {
      @include body;
      h1 {
         font-size: 36px;
         color: #fff;
         line-height: 1.333;
         letter-spacing: 0.1ex;
         padding: 0 20px;
         span {
            color: #fff7b2;
            text-transform: uppercase;
         }
      }
      .button {
         @include btn;
         max-width: 375px;
         margin-top: 70px;
      }
   }
}
@media screen and (max-width: 768px) {
   .start {
      background-position: 15% 50%;
   }
}
@media screen and (max-width: 576px) {
   .start {
      background-position: 25% 50%;
      .start__body {
         h1 {
            font-size: 24px;
         }
         .button {
            margin-top: 30px;
         }
      }
   }
}
