.colorTypePage {
   background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),
      url("../img/bg3.png") no-repeat center/cover;
   display: flex;
   min-height: 100vh;
   width: 100%;
   display: none;

   &__body {
      @include body;
      padding: 0 15px;
   }
}
.contentBody {
   margin: 0 auto;
}
.colorForm {
   &__labels {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px 0 50px;

      @media screen and (max-width: 576px) {
         margin: 25px 0 35px;
      }
   }

   &__label {
      display: flex;
      flex-direction: column;
      user-select: none;
      &:not(:last-child) {
         margin-right: 30px;

         @media screen and (max-width: 576px) {
            margin-right: 7px;
         }
      }
   }

   &__input {
      display: none;
   }

   &__logo {
      border: 3px solid transparent;
      border-radius: 50%;
      transition: 0.3s;
      img {
         max-width: 100%;
         max-height: 100%;
      }
   }

   &__span {
      text-shadow: 0 2px 0 rgba(0, 0, 0, 0.44);
      color: #fff;
      font-size: 18px;
      line-height: 24px;
      margin-top: 18px;
      transition: 0.3s;
   }
}
.colorForm__input:checked + .colorForm__logo {
   border: 3px solid #ff2b5d;
   border-radius: 50%;
}
.colorForm__input:checked + .colorForm__logo + .colorForm__span {
   color: #ff2b5d;
}
.active {
   display: flex;
}