*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

a:focus,
:active {
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
}

ul {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.header {
  background: transparent;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__body {
  max-width: 1140px;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 15px;
  margin: 0 auto;
}

.header__btn a {
  font-style: none;
  font-size: 25px;
  color: #fff;
  position: relative;
}

.header__btn a::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 2px;
  bottom: -35%;
  right: -4px;
  background: #fcfcfc;
  pointer-events: none;
}

@media screen and (max-width: 576px) {
  .header__body {
    padding: 15px;
  }
  .header__logo img {
    max-width: 100px;
    width: 100%;
    height: auto;
  }
  .header__btn a {
    font-size: 20px;
  }
}

.start-page {
  background: url("../img/bg1.png") no-repeat center/cover;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .start-page {
    background-position: 15% 50%;
  }
}

.start-page__body {
  height: 50em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  max-width: 720px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 576px) {
  .start-page__body {
    height: 35em;
  }
}

.start-page__body h1 {
  font-size: 36px;
  color: #fff;
  line-height: 1.333;
  letter-spacing: 0.1ex;
  padding: 0 20px;
  margin-bottom: 70px;
}

.start-page__body h1 span {
  color: #fff7b2;
  text-transform: uppercase;
}

.button {
  display: block;
  max-width: 290px;
  width: 100%;
  max-height: 75px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  background: transparent;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 24px 16px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 24px 16px 1px rgba(0, 0, 0, 0.4);
  border-radius: 35px;
  padding: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  max-width: 375px;
}

@media screen and (max-width: 576px) {
  .button {
    max-height: 55px;
    max-width: 290px;
  }
}

.button:hover {
  border: 1px solid #ff567d;
}

.button:before {
  content: "";
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#ff295b), to(#ff7e9c));
  background: linear-gradient(to right, #ff295b 0%, #ff7e9c 100%);
  position: absolute;
  width: 200%;
  height: 500%;
  -webkit-box-shadow: 0 3px 6px #ff7d9c, 0 3px 6px #ff2a5c;
  box-shadow: 0 3px 6px #ff7d9c, 0 3px 6px #ff2a5c;
  border-radius: 100%;
  -webkit-transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
  transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
}

.button:before {
  -webkit-transform: translate(30%, 10%) translateZ(0);
  transform: translate(30%, 10%) translateZ(0);
}

.button:hover::before {
  -webkit-transform: translate(-45%, -34%) translateZ(0);
  transform: translate(-45%, -34%) translateZ(0);
}

.button .button-pseudo {
  display: none;
}

.button .button-text {
  font-size: 30px;
  letter-spacing: 0.1ex;
  color: #fff;
  position: relative;
  top: 0;
  display: inline;
  -webkit-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

@media screen and (max-width: 576px) {
  .button .button-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .start-page {
    background-position: 25% 50%;
  }
  .start-page__body h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.warning-page {
  background: url("../img/bg2.png") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  display: none;
}

.warning-page__body {
  height: 50em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  max-width: 720px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 576px) {
  .warning-page__body {
    height: 35em;
  }
}

.warning-page__title {
  font-size: 30px;
  color: #fff7b2;
  margin-bottom: 40px;
}

@media screen and (max-width: 576px) {
  .warning-page__title {
    max-width: 240px;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .warning-page__title {
    font-size: 22px;
  }
}

.warning-page__text {
  max-width: 555px;
  width: 100%;
  font-size: 20px;
  color: #fff;
  line-height: 1.5;
  text-align: left;
  padding: 0 20px;
  margin-bottom: 0;
}

.buttons-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons-choice .button {
  display: block;
  max-width: 290px;
  width: 100%;
  max-height: 75px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  background: transparent;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 24px 16px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 24px 16px 1px rgba(0, 0, 0, 0.4);
  border-radius: 35px;
  padding: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  padding: 15px 115px;
  margin-top: 40px;
}

@media screen and (max-width: 576px) {
  .buttons-choice .button {
    max-height: 55px;
    max-width: 290px;
  }
}

.buttons-choice .button:hover {
  border: 1px solid #ff567d;
}

.buttons-choice .button:before {
  content: "";
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#ff295b), to(#ff7e9c));
  background: linear-gradient(to right, #ff295b 0%, #ff7e9c 100%);
  position: absolute;
  width: 200%;
  height: 500%;
  -webkit-box-shadow: 0 3px 6px #ff7d9c, 0 3px 6px #ff2a5c;
  box-shadow: 0 3px 6px #ff7d9c, 0 3px 6px #ff2a5c;
  border-radius: 100%;
  -webkit-transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
  transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
}

.buttons-choice .button:before {
  -webkit-transform: translate(30%, 10%) translateZ(0);
  transform: translate(30%, 10%) translateZ(0);
}

.buttons-choice .button:hover::before {
  -webkit-transform: translate(-45%, -34%) translateZ(0);
  transform: translate(-45%, -34%) translateZ(0);
}

.buttons-choice .button .button-pseudo {
  display: none;
}

.buttons-choice .button .button-text {
  font-size: 30px;
  letter-spacing: 0.1ex;
  color: #fff;
  position: relative;
  top: 0;
  display: inline;
  -webkit-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

@media screen and (max-width: 576px) {
  .buttons-choice .button .button-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .warning-page__text {
    text-align: center;
    font-size: 18px;
  }
  .buttons-choice {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .buttons-choice .button {
    margin: 35px auto 0;
  }
  .buttons-choice .button:last-child {
    margin-top: 15px;
  }
}

.body_type-page {
  background: url("../img/bg3.png") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  display: none;
}

.body_type-page__body {
  height: 50em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  max-width: 720px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 576px) {
  .body_type-page__body {
    height: 35em;
  }
}

.form__body {
  max-width: 430px;
  width: 100%;
}

.form__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  margin: 25px 0 55px;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 576px) {
  .form__labels {
    margin: 15px 20px 35px;
  }
}

.form__label {
  padding-left: 45px;
  font-size: 20px;
  margin-bottom: 0;
}

@media screen and (max-width: 576px) {
  .form__label {
    font-size: 18px;
  }
}

.form__input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.form__box {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-left: -45px;
  border: 1px solid #fff;
  border-radius: 5px;
}

@media screen and (max-width: 576px) {
  .form__box {
    width: 25px;
    height: 25px;
    margin-top: -2px;
  }
}

.form__input:checked + .form__box {
  background: #fff;
}

.option {
  display: block;
  margin-top: 20px;
}

@media screen and (max-width: 576px) {
  .option {
    margin-top: 15px;
  }
}

.button {
  display: block;
  max-width: 290px;
  width: 100%;
  max-height: 75px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  background: transparent;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 24px 16px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 24px 16px 1px rgba(0, 0, 0, 0.4);
  border-radius: 35px;
  padding: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  padding: 15px 110px;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .button {
    max-height: 55px;
    max-width: 290px;
  }
}

.button:hover {
  border: 1px solid #ff567d;
}

.button:before {
  content: "";
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#ff295b), to(#ff7e9c));
  background: linear-gradient(to right, #ff295b 0%, #ff7e9c 100%);
  position: absolute;
  width: 200%;
  height: 500%;
  -webkit-box-shadow: 0 3px 6px #ff7d9c, 0 3px 6px #ff2a5c;
  box-shadow: 0 3px 6px #ff7d9c, 0 3px 6px #ff2a5c;
  border-radius: 100%;
  -webkit-transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
  transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
}

.button:before {
  -webkit-transform: translate(30%, 10%) translateZ(0);
  transform: translate(30%, 10%) translateZ(0);
}

.button:hover::before {
  -webkit-transform: translate(-45%, -34%) translateZ(0);
  transform: translate(-45%, -34%) translateZ(0);
}

.button .button-pseudo {
  display: none;
}

.button .button-text {
  font-size: 30px;
  letter-spacing: 0.1ex;
  color: #fff;
  position: relative;
  top: 0;
  display: inline;
  -webkit-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

@media screen and (max-width: 576px) {
  .button .button-text {
    font-size: 20px;
  }
}

.title__header {
  font-size: 30px;
  color: #fff7b2;
  margin-bottom: 40px;
  margin-bottom: 15px;
}

@media screen and (max-width: 576px) {
  .title__header {
    max-width: 240px;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.title__text {
  font-size: 16px;
  color: #fff;
  font-style: italic;
  margin-bottom: 0;
}

@media screen and (max-width: 576px) {
  .title__text {
    font-size: 15px;
  }
}

.color_type-page {
  background: url("../img/bg3.png") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  display: none;
}

.color_type-page__body {
  height: 50em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  max-width: 720px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 576px) {
  .color_type-page__body {
    height: 35em;
  }
}

.color-form__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px 0 50px;
}

@media screen and (max-width: 576px) {
  .color-form__labels {
    margin: 25px 0 35px;
  }
}

.color-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color-form__label:not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 576px) {
  .color-form__label:not(:last-child) {
    margin-right: 7px;
  }
}

.color-form__input {
  display: none;
}

.color-form__logo {
  border: 3px solid transparent;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 576px) {
  .color-form__logo img {
    max-height: 90px;
    height: 100%;
    max-width: 90px;
    width: 100%;
  }
}

.color-form__span {
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.44);
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  margin-top: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.color-form__input:checked + .color-form__logo {
  border: 3px solid #ff2b5d;
  border-radius: 50%;
}

.color-form__input:checked + .color-form__logo + .color-form__span {
  color: #ff2b5d;
}

.button {
  display: block;
  max-width: 290px;
  width: 100%;
  max-height: 75px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  background: transparent;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 24px 16px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 24px 16px 1px rgba(0, 0, 0, 0.4);
  border-radius: 35px;
  padding: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  padding: 15px 110px;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .button {
    max-height: 55px;
    max-width: 290px;
  }
}

.button:hover {
  border: 1px solid #ff567d;
}

.button:before {
  content: "";
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#ff295b), to(#ff7e9c));
  background: linear-gradient(to right, #ff295b 0%, #ff7e9c 100%);
  position: absolute;
  width: 200%;
  height: 500%;
  -webkit-box-shadow: 0 3px 6px #ff7d9c, 0 3px 6px #ff2a5c;
  box-shadow: 0 3px 6px #ff7d9c, 0 3px 6px #ff2a5c;
  border-radius: 100%;
  -webkit-transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
  transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
}

.button:before {
  -webkit-transform: translate(30%, 10%) translateZ(0);
  transform: translate(30%, 10%) translateZ(0);
}

.button:hover::before {
  -webkit-transform: translate(-45%, -34%) translateZ(0);
  transform: translate(-45%, -34%) translateZ(0);
}

.button .button-pseudo {
  display: none;
}

.button .button-text {
  font-size: 30px;
  letter-spacing: 0.1ex;
  color: #fff;
  position: relative;
  top: 0;
  display: inline;
  -webkit-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

@media screen and (max-width: 576px) {
  .button .button-text {
    font-size: 20px;
  }
}

.popup {
  display: none;
  padding-top: 140px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
  position: relative;
  z-index: 100;
  height: 100vh;
}

.popup__body {
  max-width: 542px;
  width: 100%;
  max-height: 505px;
  height: 100%;
  padding: 60px 0;
  border-radius: 25px;
  background-color: #2c2233;
  opacity: 0.75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 768px) {
  .popup__body {
    max-width: 450px;
    max-height: 415px;
  }
}

@media screen and (max-width: 576px) {
  .popup__body {
    max-width: 290px;
    max-height: 285px;
  }
}

.popup__slaid {
  max-width: 415px;
  width: 100%;
  max-height: 315px;
  height: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .popup__slaid {
    max-width: 240px;
    max-height: 230px;
    height: auto;
  }
}

.popup__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .popup__info {
    margin-bottom: 5px;
  }
}

.popup__arrow {
  border: solid #8c8c8c;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 7px;
  margin: 0 5px;
}

.popup__text {
  color: #fff;
  font-size: 24px;
  margin-bottom: 0;
}

@media screen and (max-width: 576px) {
  .popup__text {
    font-size: 18px;
  }
}

.popup__footer {
  color: #fff;
  font-size: 18px;
  margin: 0 auto;
  padding-top: 40px;
}

@media screen and (max-width: 576px) {
  .popup__footer {
    font-size: 16px;
    padding-top: 0;
    position: absolute;
    bottom: -15%;
    left: 9%;
  }
}

.popup__footer p {
  margin-bottom: 0;
}

.popup__footer span {
  color: #ff2b5d;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.reg-form__input {
  max-height: 50px;
  height: 100%;
  max-width: 410px;
  width: 100%;
  border-radius: 22px;
  color: #fff;
  background: #423948;
  border: 1px solid #423948;
  padding: 15px;
  margin-top: 10px;
}

@media screen and (max-width: 576px) {
  .reg-form__input {
    max-height: 40px;
    max-width: 240px;
  }
}

.reg-form__input:focus {
  outline: none;
}

.reg-form__input::-webkit-input-placeholder {
  color: #999;
  font-family: "Source Sans Pro";
  font-size: 18px;
  line-height: 36px;
}

.reg-form__input::-moz-placeholder {
  color: #999;
  font-family: "Source Sans Pro";
  font-size: 18px;
  line-height: 36px;
}

.reg-form__input:-ms-input-placeholder {
  color: #999;
  font-family: "Source Sans Pro";
  font-size: 18px;
  line-height: 36px;
}

.reg-form__input::-ms-input-placeholder {
  color: #999;
  font-family: "Source Sans Pro";
  font-size: 18px;
  line-height: 36px;
}

undefined {
  color: #999;
  font-family: "Source Sans Pro";
  font-size: 18px;
  line-height: 36px;
}

undefined {
  color: #999;
  font-family: "Source Sans Pro";
  font-size: 18px;
  line-height: 36px;
}

undefined {
  color: #999;
  font-family: "Source Sans Pro";
  font-size: 18px;
  line-height: 36px;
}

.reg-form__input::placeholder {
  color: #999;
  font-family: "Source Sans Pro";
  font-size: 18px;
  line-height: 36px;
}

@media screen and (max-width: 576px) {
  .reg-form__input::-webkit-input-placeholder {
    font-size: 16px;
  }
  .reg-form__input::-moz-placeholder {
    font-size: 16px;
  }
  .reg-form__input:-ms-input-placeholder {
    font-size: 16px;
  }
  .reg-form__input::-ms-input-placeholder {
    font-size: 16px;
  }
  undefined {
    font-size: 16px;
  }
  undefined {
    font-size: 16px;
  }
  undefined {
    font-size: 16px;
  }
  .reg-form__input::placeholder {
    font-size: 16px;
  }
}

.reg-form__label {
  font-size: 18px;
  color: #fff;
  font-family: "Source Sans Pro";
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 768px) {
  .reg-form__label {
    font-size: 16px;
  }
}

.reg-form__check {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.reg-form__box {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top: 2px;
}

.reg-form__space {
  margin-left: 25px;
}

.reg-form__check:checked + .reg-form__box {
  background: #fff;
}

.popup-option {
  display: block;
  margin-top: 20px;
}

@media screen and (max-width: 576px) {
  .popup-option {
    display: none;
  }
}

.button {
  display: block;
  max-width: 290px;
  width: 100%;
  max-height: 75px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  background: transparent;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 24px 16px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 24px 16px 1px rgba(0, 0, 0, 0.4);
  border-radius: 35px;
  padding: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

@media screen and (max-width: 576px) {
  .button {
    max-height: 55px;
    max-width: 290px;
  }
}

.button:hover {
  border: 1px solid #ff567d;
}

.button:before {
  content: "";
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#ff295b), to(#ff7e9c));
  background: linear-gradient(to right, #ff295b 0%, #ff7e9c 100%);
  position: absolute;
  width: 200%;
  height: 500%;
  -webkit-box-shadow: 0 3px 6px #ff7d9c, 0 3px 6px #ff2a5c;
  box-shadow: 0 3px 6px #ff7d9c, 0 3px 6px #ff2a5c;
  border-radius: 100%;
  -webkit-transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
  transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
}

.button:before {
  -webkit-transform: translate(30%, 10%) translateZ(0);
  transform: translate(30%, 10%) translateZ(0);
}

.button:hover::before {
  -webkit-transform: translate(-45%, -34%) translateZ(0);
  transform: translate(-45%, -34%) translateZ(0);
}

.button .button-pseudo {
  display: none;
}

.button .button-text {
  font-size: 30px;
  letter-spacing: 0.1ex;
  color: #fff;
  position: relative;
  top: 0;
  display: inline;
  -webkit-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

@media screen and (max-width: 576px) {
  .button .button-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .button {
    max-width: 240px;
  }
}

.recede {
  margin: 35px auto;
}

.one {
  position: absolute;
  right: -4%;
  top: 25%;
}

@media screen and (max-width: 576px) {
  .one img {
    max-height: 9px;
    height: 100%;
    max-width: 9px;
    width: 100%;
  }
}

.two {
  position: absolute;
  right: -1%;
  top: 33%;
}

@media screen and (max-width: 576px) {
  .two img {
    max-height: 11px;
    height: 100%;
    max-width: 11px;
    width: 100%;
  }
}

.three {
  position: absolute;
  right: -5%;
  top: 41%;
}

@media screen and (max-width: 576px) {
  .three img {
    max-height: 14px;
    height: 100%;
    max-width: 14px;
    width: 100%;
  }
}

.four {
  position: absolute;
  right: -0%;
  top: 48%;
}

@media screen and (max-width: 576px) {
  .four img {
    max-height: 19px;
    height: 100%;
    max-width: 19px;
    width: 100%;
  }
}

.five {
  position: absolute;
  right: -5%;
  top: 62%;
}

@media screen and (max-width: 576px) {
  .five img {
    max-height: 28px;
    height: 100%;
    max-width: 28px;
    width: 100%;
  }
}

.footer {
  padding: 10px 0;
  position: fixed;
  background: #625e5f46;
  width: 100%;
  height: auto;
  bottom: 0;
  z-index: 10;
}

@media screen and (max-width: 576px) {
  .footer {
    background: transparent;
  }
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__body p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 100;
}

@media screen and (max-width: 576px) {
  .footer__body p {
    font-size: 14px;
  }
}

.footer__body p span {
  text-transform: uppercase;
}
